<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Signup</h1>
      </div>
      <div class="create-blog content">
        <form>
          <label for="email">Email</label>
          <input type="text" name="email" required />
          <div class="email error"></div>
          <label for="password">Password</label>
          <input type="password" name="password" required />
          <div class="password error"></div>
          <button>Submit</button>
        </form>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
    <script type="text/javascript" src="/signup.js"></script>
  </body>
</html>
