<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Signup</h1>
      </div>
      <div class="create-blog content">
        <form>
          <label for="email">Email</label>
          <input type="text" name="email" required />
          <div class="email error"></div>
          <label for="password">Password</label>
          <input type="password" name="password" required />
          <button>Submit</button>
        </form>
      </div>
    </main>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // Get the values
        const email = form.email.value;
        const password = form.password.value;

        try {
          const result = await fetch("/signup", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          });
        } catch {}
      });
    </script>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
